[submodule "pathogen"]
	path = pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/applescript"]
	path = bundle/applescript
	url = http://github.com/vim-scripts/applescript.vim.git
[submodule "bundle/clojure"]
	path = bundle/clojure
	url = http://github.com/vim-scripts/VimClojure.git
	ignored = untracked
[submodule "bundle/coffee_script"]
	path = bundle/coffee_script
	url = http://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/color_sampler_pack"]
	path = bundle/color_sampler_pack
	url = http://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = http://github.com/rson/vim-conque
	ignored = untracked
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = http://github.com/godlygeek/csapprox.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/fuzzy_finder"]
	path = bundle/fuzzy_finder
	url = http://github.com/vim-scripts/FuzzyFinder
[submodule "bundle/github-colorscheme"]
	path = bundle/github-colorscheme
	url = http://github.com/xonecas/github-vim-colorscheme
[submodule "bundle/haml"]
	path = bundle/haml
	url = http://github.com/tpope/vim-haml.git
[submodule "bundle/indent_object"]
	path = bundle/indent_object
	url = http://github.com/michaeljsmith/vim-indent-object.git
[submodule "bundle/javascript_indent"]
	path = bundle/javascript_indent
	url = http://github.com/vim-scripts/JavaScript-Indent.git
[submodule "bundle/konjac_vim"]
	path = bundle/konjac_vim
	url = http://github.com/brymck/konjac_vim
[submodule "bundle/l9"]
	path = bundle/l9
	url = http://github.com/vim-scripts/L9.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = http://github.com/hallison/vim-markdown.git
[submodule "bundle/nekotako"]
	path = bundle/nekotako
	url = http://github.com/brymck/nekotako.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/notes"]
	path = bundle/notes
	url = http://github.com/xolox/vim-notes.git
	ignored = untracked
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
	ignored = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/vim-scripts/taglist.vim.git
	ignored = untracked
[submodule "bundle/rdoc"]
	path = bundle/rdoc
	url = http://github.com/depuracao/vim-rdoc.git
[submodule "bundle/ruby-refactoring"]
	path = bundle/ruby-refactoring
	url = http://github.com/ecomba/vim-ruby-refactoring.git
[submodule "bundle/scroll_colors"]
	path = bundle/scroll_colors
	url = http://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = http://github.com/tpope/vim-unimpaired.git
	ignored = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = http://github.com/godlygeek/tabular.git
[submodule "bundle/v1m"]
	path = bundle/v1m
	url = http://github.com/brymck/v1m.git
[submodule "bundle/vitality"]
	path = bundle/vitality
	url = http://github.com/sjl/vitality.vim.git
